<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 默认的导航栏</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/blog.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        hr {
            width:0px;
            height: 2px;
            align: left;
            background: #000000;
            color: #000000;
            margin: 0;
            -moz-transition:width 1s; /* Firefox 4 */
            -webkit-transition:width 1s; /* Safari and Chrome */
            -o-transition:width 1s; /* Opera */
        }

        hr:hover{
            width: 100%;
        }
    </style>
</head>
<body>
<div hidden class="container-fluid" style="margin: 0; padding: 0;" id="header-container">
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top" id="header-static">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
            	<div class="navbar-header">
		            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#header-static-main">
			        <span class="sr-only">切换导航</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
	            </div>
                    <div class="navbar-collapse collapse" id="header-static-main">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="navbar-brand">Leek 博客</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html">C/C++</a>
                            </li>

                            <li>
                                <a href="index.html">Python</a>
                            </li>

                            <li>
                                <a href="index.html">Linux</a>
                            </li>

                            <li>
                                <a href="index.html">Java</a>
                            </li>

                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top is-fixed" id="nav-header">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a class="navbar-brand">Leek 博客</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.html">C/C++</a>
                            </li>

                            <li>
                                <a href="index.html">Python</a>
                            </li>

                            <li>
                                <a href="index.html">Linux</a>
                            </li>

                            <li>
                                <a href="index.html">Java</a>
                            </li>

                        </ul>
                    </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <header class="intro-header" style="background:#1CA883">
            <div class="site-heading">
                <h1>脑子没有想法</h1>
                <span class="subheading">但如果我想，我就可以</span>
            </div>
        </header>
        <div hidden id="article-container">
                <div id="post-preview-col">

                </div>
        </div>
</div>
<script>
    for(var i = 0; i < 10; ++i){
        $.get('/post-preview', function (data, status) {
            $("#article-container").append(data);
        });
    }

    $("#article-container").fadeIn(2000, function () {
        $("#header-container").fadeIn(2000);
    })



    document.body.onmousewheel = function (e) {
        e = e || window.event;
        var isTop = $(document).scrollTop() <= $("#nav-header").height();
        var isvislble = $("#nav-header").hasClass('is-visible');
        if (e.wheelDelta >= 0 && isTop ){
            if (isvislble){
                $("#header-static").hide();
                $("#nav-header").removeClass('is-visible');
                $("#nav-header").one('transitionend', function() {
                    $("#header-static").fadeIn(1000);
                });
            }
            return;
        }else if(e.value >= 0 && isTop && isvislble){
            if (isvislble){
                $("#header-static").hide();
                $("#nav-header").removeClass('is-visible');
                $("#header-static").fadeIn(1000);
            }
            return;
        }

        if (e.wheelDelta > 0){
            $("#nav-header").addClass('is-visible');
        }else if(e.value > 0){
            $("#nav-header").addClass('is-visible');
        }else if (e.value < 0){
            $("#nav-header").removeClass('is-visible');
        }else if (e.wheelDelta < 0){
            $("#nav-header").removeClass('is-visible');
        }
    };

    function titleEnter(title) {
        hr = $(title).next();
        $(hr).css('width', title.offsetWidth);
    }
    
    function titleLeave(title) {
        hr = $(title).next();
        $(hr).css('width', 0);
    }
</script>
</body>
</html>