<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>LEEK的博客</title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/static/css/Leek_Blog.css" rel="stylesheet">


    <script src="/static/js/scrollspy.js"></script>
    <script src="/static/js/marked.min.js"></script>
    <script src="/static/js/prettify.min.js"></script>

    <script src="/static/js/raphael.min.js"></script>
    <script src="/static/js/underscore.min.js"></script>
    <script src="/static/js/sequence-diagram.min.js"></script>
    <script src="/static/js/flowchart.min.js"></script>
    <script src="/static/js/jquery.flowchart.min.js"></script>
    <script src="/static/js/editormd.js"></script>

    <style>

    </style>
</head>
<body>
<div class="container expand-height expand-width">
    <div class="row expand-height">
        <div class="col-md-3 expand-height">
            <div class="row expand-height">
                <div class="col-md-2 expand-height aside1">
                    <ul class="nav nav-pills nav-stacked expand-height nav-costumer">
                        <li onclick="click_nav_left_in(this, 'aside2-1')"><a href="#" class="fa-container active"><i
                                class="fa fa-user fa-lg"></i></a></li>
                        <li onclick="click_nav_left_in(this, 'aside2-2')"><a href="#" class="fa-container"><i
                                class="fa fa-photo fa-lg"></i></a></li>
                        <li onclick="click_nav_left_in(this, 'aside2-3')"><a href="#" class="fa-container"><i
                                class="fa fa-music fa-lg"></i></a></li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked bottom">
                        <li onclick="click_nav_left_in(this, 'aside2-4')"><a href="#"><span class="glyphicon glyphicon-cog"
                                                                                            style="color: white"></span></a>
                        </li>
                        <li onclick="click_nav_left_in(this, 'aside2-5')"><a href="#"><span
                                class="glyphicon glyphicon-log-out" style="color: white"></span></a></li>
                    </ul>
                </div>

                <div class="col-md-10 expand-height">
                    <div class="aside2 expand-height" id="aside2-1">
                        <div class="user" id="user-1">
                            <div class="basic-info">
                                <div class="avatar">
                                    <img src="/static/img/avatar.jpg" class="img-circle img-responsive">
                                </div>
                                <h3 class="user-font"><a href="#" class="nick-name">{{user.username}}</a></h3>
                                <a style="font-size: 15px;" href="{{user.github_link}}"><i class="fa fa-github fa2x"><span>&nbsp我的Github</span></i></a>
                                <div class="about">
                                    <p>{{user.about_me}}</p>
                                </div>
                                <div class="sns"></div>
                            </div>
                            <div class="user-stats">
                                <ul class="clearfix">
                                    <li>
                                        <a href="#"><b>{{user.views_count}}</b><span>访问</span></a>
                                    </li>
                                    <li>
                                        <a href="#"><b>{{user.comment_count}}</b><span>评论</span></a>
                                    </li>
                                    <br>
                                    <li>
                                        <a href="#"><b>{{user.article_count}}</b><span>文章</span></a>
                                    </li>
                                    <li>
                                        <a><b>{{user.category_count}}</b><span>分类</span></a>
                                    </li>
                                    <li>
                                        <a><b>{{user.like_count}}</b><span>收获赞</span></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="books">
                                <h5 style="display: block">我的分类：</h5>
                                <ul style="list-style: none; display: block">
                                {% for c in user.categories %}
                                    <li class="fa fa-book" href="#">&nbsp;{{c.name}}</li>
                                {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="aside2 expand-height" id="aside2-2">
                        <div class="user" id="user-2">
                            <div class="basic-info">
                                <div class="avatar">
                                    <img src="/static/img/avatar.jpg" class="img-circle img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9 aside3 expand-height scroll-able">
            <div class="row expand-height article-preview">
                <ul class="nav nav-tabs costumer-nav-tabs">
                    <li onclick="click_nav_tab(this)">
                        <a href="#" class="active">最新文章</a>
                    </li>
                    <li onclick="click_nav_tab(this)">
                        <a href="#">热门文章</a>
                    </li>
                    <li onclick="click_nav_tab(this)">
                        <a href="#">最新动态</a>
                    </li>
                </ul>

                <div class="article-view expand-height expand-width">
                    <div class="article-list expand-height expand-width">

                    </div>
                </div>

            </div>
        </div>

        <div class="article-reader expand-height expand-width scroll-able">

        </div>
    </div>
</div>
</body>

<script>
    var click_nav_tab = function (e) {
        var children = $(e).parent().children();
        for (var cnt = 0; cnt < children.length; ++cnt) {
            $(children[cnt].firstElementChild).removeClass('active');
        }
        $(e.firstElementChild).addClass('active');
    }

    function FrameManager(last, lastL) {
        this.last = last;
        this.lastL = lastL;

        this.splice = function (l, now) {
            if (this.last == now) {
                return;
            }

            var eNow = document.getElementById(now);
            var eLast = document.getElementById(this.last);
            var This = this;
            eNow.style.zIndex = 1;

            $(l.firstElementChild).addClass('active');
            if (this.lastL){
                $(this.lastL.firstElementChild).removeClass('active');
            }

            var cb = function () {
                eNow.style.zIndex = 2;
                eLast.style.zIndex = 0;
                eLast.style.left = 0;
                This.last = now;
                This.lastL = l;
            };

            $(eLast).animate({left: '-100%'}, 500, cb);
        }

    }

    document.getElementById('aside2-1').style.zIndex = 2;
    var initL = $('.nav-pills  li  a.active').parent('li').get(0);
    var frameManager = new FrameManager('aside2-1', initL);
    function click_nav_left_in(l, e) {
        frameManager.splice(l, e);
    }

    $.get('post-preview?offset=0&count=10', function (data) {
        $('.article-list').append(data);
    })

    function clickPreview(path) {
        path = '/app/view/article?path=' + path;
        $.get(path, function (data) {
            history.pushState(path, 'view article', '/app/view/article')
            $('.article-reader').append(data);
            $('.article-reader').animate({right: '0'})
        })
    }

</script>
</html>
