<div id="layout"  class="markdown-body " style="padding: 5% 0%">
    <link href="/static/css/markdown.css" rel="stylesheet">
    <div id="test-editormd-view">
        <textarea name="test-editormd-markdown-doc">###Hello world!</textarea>
    </div>
    <div id="test-editormd-view2">
                <textarea id="append-test">

                </textarea>
    </div>
</div>
<!-- <script src="js/zepto.min.js"></script>
<script>
    var jQuery = Zepto;  // 为了避免修改flowChart.js和sequence-diagram.js的源码，所以使用Zepto.js时想支持flowChart/sequenceDiagram就得加上这一句
</script> -->
<script type="text/javascript">
    $(function () {
        $.get("{{path}}", function (markdown) {
            let md;
            const tm = texmath.use(katex);
            md = markdownit().use(tm,{delimiters:'dollars',macros:{"\\RR": "\\mathbb{R}"}});
            $('#test-editormd-view').html(md.render(markdown));
        });
    });
</script>